@font-face {
  font-family: Optima;
  src: url(../public/Optima/OptimaLTPro-Roman.otf);
}

*{
  font-family: Optima, 'Cormorant Garamond', 'serif';
  color: white;
}

.App {
  background-color: #061922;
  min-height: 100vh;
}

.col-lg-3{
  position: relative;
}

.col-lg-9{
  position: relative;
}


