.main-width{
    padding: 180px 5%; 
}

#decoration{
    position: sticky;
    top: 0;
    right: 50px;
    width: 100%;
    padding-right: 0;
}

.button-collection{
    gap: 30px;
}


@media only screen and (max-width: 992px){
    .main-width{
        width: 95%;
        margin: 80px 2%;
    }

    #decoration{
        visibility: hidden;
    }
}

@media only screen and (max-width: 768px){
    .button-collection{
        flex-direction: column;
        gap: 0px;
    }
}